@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$body: #f6f7f8;
$bg: #dae0e6;
$neutral: #ffffff;
$postbodytext: #1c1c1c;
$postbg: #fff;

$font-title: 2rem;
$font-post_title: 1.25rem;

[data-theme='dark'] {
  $body: #272729;
  $bg: #030303;
  $neutral: #1a1a1b;
  $postbodytext: #d7dadc;
  $postbg: #343536;
}

body {
  font-family: 'Noto Sans', sans-serif;
}

.header {
  background-color: $neutral;
  display: flex;
  justify-content: space-between;
}

.header__title {
  color: $postbodytext;
  font-size: $font-title;
}

.header__search {
  border-radius: 30px;
  background-color: $body;
  color: $postbodytext;
  width: 40%;
}

.postcard__container {
  background-color: $postbg;
  color: $postbodytext;
  max-width: 700px;
  width: 55%;
  display: flex;
  margin-top: 1rem;
}

.post__upvotes {
  padding-right: 0.5rem;
  background-color: $body;
  padding: 3px 5px;
}

.post__title {
  font-size: $font-post_title;
}

.post__data {
  font-size: 0.75rem;
}

.post__body,
.post__title,
.post__data {
  padding-left: 0.5rem;
}

.main {
  background-color: $bg;
  display: grid;
  min-height: 100vh;
  min-height: 100dvh;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
}
