@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css');
@import './layout.scss';
@import './variables.scss';

body {
  font-family: 'Noto Sans', sans-serif;
}

.createpost {
  background-color: $postbg;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  max-width: 750px;
  width: 100%;
  display: flex;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  align-items: center;
  input {
    width: 90%;
  }
  i {
    padding-right: 1rem;
  }
  padding: 1rem;
}

.createpost__body {
  min-height: 30px;
  resize: vertical;
  width: 90%;
  max-height: 250px;
}

.createpost__button {
  margin-right: 3rem;
  justify-self: center;
  align-self: center;
  width: 6rem;
}

.errorpage {
  text-align: center;
}

.postcard__container {
  background-color: $postbg;
  color: $postbodytext;
  width: 100%;
  max-width: 750px;
  display: flex;
  border-radius: 3px;
  grid-column: 2 / 3;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.post__upvotes {
  padding-right: 0.5rem;
  background-color: $body;
  padding: 5px 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.post__upvotes--arrow {
  transition: all 0.3s linear;
  border-radius: 3px;
  width: 1.25rem;
}

.post__upvotes--arrow:hover {
  background-color: #afb0b1;
}

.post__title {
  font-size: $font-post_title;
}

.post__data {
  font-size: 0.75rem;
}

.post__body,
.post__title,
.post__data {
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.post__utils--buttons {
  list-style-type: none;
  display: flex;
  padding-left: 0.5rem;
  li {
    padding-right: 1rem;
  }
  i {
    padding-right: 0.5rem;
  }
}

.postfilter {
  background-color: $postbg;
  width: 100%;
  grid-column: 2 / 3;
  max-width: 750px;
  display: flex;
  align-items: center;
  grid-row: 2 / 2;
  border-radius: 3px;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.postfilter__filter {
  display: flex;
  padding: 1rem;
  list-style-type: none;
  margin: 0;
}

.icon {
  padding-right: 0.25rem;
}

.postfilter__buttons {
  padding-right: 2rem;
}

.fullpost__container {
  max-width: 750px;
}

.fullpost__comments {
  background-color: $postbg;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  hr {
    width: 75%;
  }
}

.fullpost__comments--text {
  resize: none;
  width: 80%;
}

.fullpost__comments--name {
  align-self: flex-start;
  margin-left: 4.75rem;
  font-size: 0.75rem;
}

.fullpost__comments--button {
  width: 7rem;
}

.comment {
  background-color: $postbg;
  padding: 1rem 0 0 1rem;
}

.comment__user {
  font-size: 0.75rem;
}

.comment__utils {
  list-style-type: none;
  display: flex;
  padding-left: 0;
  margin: 0;
  li {
    padding: 0.5rem 0.5rem 0.5rem 0.25rem;
  }
  i {
    padding-top: 0.5rem;
    padding-left: 0.25rem;
  }
}

.comment__main {
  width: 80%;
}

.postlink {
  max-width: 750px;
  width: 100%;
}

a {
  display: inherit;
  text-decoration: none;
}

.register__form,
.login__form {
  display: flex;
  flex-direction: column;
  margin: 25px 10px;
  input {
    margin-bottom: 5px;
  }
}

.register__form--button,
.login__form--button {
  margin: 10px 0;
}

.register__content,
.login__content {
  width: 50%;
}

.register__wrapper,
.login__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login__registerbtn {
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin: 0 5px;
  }
}
